body {
          margin-left: 0px;
          margin-right: 0px;
          margin-top: 0px;
          padding: 10px 10px 10px 10px;
          border: 0px solid #f2f2f2;
          background-color: #;

}

.button {
         width: 160px;
         height: 30px;
         border: 2px solid #000000;
         color: #000000;
         display: inline-block;
         padding-top: 13px;
         border-radius: 10px;

}

.button:hover {
         width: 160px;
         height: 30px;
         border: 2px solid #000000;
         background-color: #000000;
         color: #ffffff;
         display: inline-block;
         padding-top: 13px;
         border-radius: 10px;

}

#icon {
          width: 40px;
          height: 40px;
	  background-size: 80px 80px;
	  background-image:url("01f39666037a7ec4c4e4a41589dc5416.jpg");
          border: 4px solid #f2f2f2;
          border-radius: 50%;
          margin-bottom: 32px;
}

#pro_pic {
          width: 100px;
          height: 100px;
          background-image: url("01f39666037a7ec4c4e4a41589dc5416.jpg");
          background-size: 40px 40px;
          border: 4px solid #f2f2f2;
          border-radius: 0%;
}

#box {
	      height: 150px;
	      width: 150px;
	      border: 4px solid #f2f2f2;
	      background-color: #A52A2A;
	      padding: 20px 20px;
	      margin: 30px 10px;
	      float: left;
}

#box:hover {

	      border: 3px solid #955889;

}

h2,p {
	      font-family: Calibri;
}
